







[build]

[profile.dev]

# Reduce optimization in dev builds to lower stack pressure
opt-level = 1
codegen-units = 16

[profile.test]
# Test profile optimizations
opt-level = 1
codegen-units = 16
