apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cherenkov

resources:
- ../../base

patchesStrategicMerge:
- replicas.yaml

configMapGenerator:
- name: cherenkov-config
  behavior: merge
  literals:
  - ENVIRONMENT=production
  - LOG_LEVEL=info
  - SCYLLA_KEYSPACE=cherenkov_prod

replicas:
- name: cherenkov-api
  count: 5
- name: cherenkov-ingest
  count: 10
- name: cherenkov-stream
  count: 5
- name: cherenkov-web
  count: 5

images:
- name: ghcr.io/tworjaga/cherenkov-api
  newTag: v0.1.0
- name: ghcr.io/tworjaga/cherenkov-ingest
  newTag: v0.1.0
- name: ghcr.io/tworjaga/cherenkov-stream
  newTag: v0.1.0
- name: ghcr.io/tworjaga/cherenkov-web
  newTag: v0.1.0
